* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Avenir Next", "Avenir", sans-serif;
  overflow-x: hidden;
}

img {
  width: 400px;
}

.coverImg {
  width: 100vw;
}

#searchBtn {
  width: 80px;
  height: 36.111px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #e8e8e8;

  background: linear-gradient(0deg, #eb5732 0%, #eb5732 100%);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

footer {
  width: 100vw;
  height: 50px;
  background-color: #53373c;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header {
  width: 100vw;
  height: 50px;
  background-color: #d63d41;
  margin-bottom: 20px;
}

#searchBtn {
  width: 80px;
  height: 36.111px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #e8e8e8;

  background: linear-gradient(0deg, #eb5732 0%, #eb5732 100%);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

footer {
  width: 100vw;
  height: 50px;
  background-color: #53373c;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socialMedia {
  scale: 1/1;
  width: 30px;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}
#menuToggle input {
  display: none;
}
#menu {
  /* display: inline; */
  /* position: absolute; */
  width: 122px;
  height: 195px;
  margin: -100px 0 0 0;
  padding-left: 5px;
  padding-right: 50px;
  padding-top: 100px;
  right: -100px;

  background: #eb5732;
  border: 1px solid #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 400px) {
  #menu {
    position: absolute;
    width: 122px;
    height: 195px;
    margin: -100px 0 0 0;
    padding-left: 5px;
    padding-right: 50px;
    padding-top: 100px;
    right: -100px;
    border-radius: 0px 0px 0px 10px;

    background: #eb5732;
    border: 1px solid #fff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}
  #menuToggle {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
      * Just a quick hamburger
      */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #eb5732;
    border-radius: 3px;
    /* color: #ffffff; */

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /* 
      * Transform all the slices of hamburger
      * into a crossmark.
      */

  /* #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
  }
      * But let's hide the middle one.
      */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
      * Ohyeah and the last one should go the other direction
      */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
      * Make this absolute positioned
      * at the top left of the screen
      */

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  /*
      * And let's fade it in from the left
      */
  #menuToggle input:checked ~ ul {
    transform: none;
    opacity: 1;
  }

a:hover {
	cursor: pointer;
}
<<<<<<< Updated upstream

.contact-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	gap: 30px;
}
.contact-box {
	width: 80vw;
	position: relative;
}
.svgs {
	width: 100%;
}
.contact-btn {
	position: absolute;
	bottom: 2%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	border: 1px solid #e8e8e8;
	background: #7abaed;
	padding: 1.5vh;
	color: #ffffff;
	text-align: center;
	font-size: 1em;
}
=======
@media screen and (min-width: 401px) {
}
>>>>>>> Stashed changes
