*{
    margin: 0;
    padding: 0;
}


img{
    width: 400px;
}

.coverImg{
    width: 100vw;
}

header{
    width: 100vw;
    height: 50px;
    background-color: #D63D41;
    margin-bottom: 20px;
}

#searchBtn{
    width: 80px;
height: 36.111px;
flex-shrink: 0;
    border-radius: 10px;
border: 1px solid #E8E8E8;

background: linear-gradient(0deg, #EB5732 0%, #EB5732 100%);

box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

footer{
    width: 100vw;
    height: 50px;
    background-color: #53373C;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.socialMedia{
    scale: 1/1;
    width: 30px;
}


