/* varible Ex: text-color: var(--light-blue); */

/* light = Lightmode
/* Dark = Darkmode


/* Link to Light mode: https://coolors.co/d9d9d9-d63d41-eb5732-53373c-7abaed */
/* Link to Dark mode: https://coolors.co/968f8e-4f4443-dd5c5f-7d7574-aad1f3 */

:root {
	--light-red: #d63d41;
	--light-grey: #d9d9d9;
	--light-brown: #53373c;
	--light-blue: #7abaed;
	--light-orange: #eb5732;
	--header-color: #d63d41;
	--background: white;
}
